*{  padding: 0;
    margin: 0;

}

body{
    background-color:#ffffff;
    color: #504831;
    
    }
    
    /* selector de id */
    #contenedor{
    width: 900px;
    height: 1100px;
    background-color: #504831;
    }
    z
    
    #menu{
    height: 4%;
    background-color: #ba9fb9;
    margin: 1em;
    border-radius: 5px;
    }
    
    ul {
        text-align: center;
        padding: 10px;
    }
    
    li {
        display: inline;
        padding: 10px 30 px;
        margin: 3em;
    
    }
    
    li a:hover{
       color:aqua;
       text-decoration: none;
       list-style: none;
    
    }
    .texto{
    
        text-align: justify;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        padding: 5px 25px;
        color:#ffffff ;
    }
    .textoA{
        font-weight: bold;
        text-align: left;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        padding: 5px 25px;
        color:#ffffff ;
    }
    .textoBold{
        font-weight: bold;
        text-align: justify;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        padding: 5px 25px;
        color:#ffffff ;
    }
    
    #contenido{
    height: 75%;
    width: 50%;
    background-color: #504831;
    margin: 0.5em;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
    }
    
    .img{
    
        width: 40%;
        border-radius: 30px;
        justify-items: center;
    
    }
    
    .encabezado-articulo{
    padding: 10px;
    text-align: center;
    background-color: #dca4c9;
    color: rgb(255, 255, 255);
    margin: 1em 2em;
    border-radius: 5px;
    }
    #fueraseccion{
    height: 80px;
    width: 35%;
    background-color: #504831;
    margin: 0.5em;
    display: inline-block;
    vertical-align: top;
    border-radius: 5px;
    }
    .encabezado-aside{
   
    text-align: center;
   
    background-color: #dca4c9;
    color: white;
    margin: 1em 1em;
    }
    
    .menu-aside{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    padding: 0 2px;
    list-style: square;
    color: #000;
    }
    
    .lista-aside li {
    padding: 20px;
    }
    
    .lista-aside li{
    display: flex;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
    padding: 0 2px;
    color:#000;
    }
    
    #pie {
    height: 10%;
    background-color: #dca4c9;
    margin: 1.5 em;
    text-align: center;
    padding: 5px;
    }
    
    #pie h4{
        padding: 15px;
        font-size: 30px;
    
    }

#encabezado{

background-color: #dca4c9;
font-weight: bold;
color: rgb(83, 66, 49);
text-align: center;
}
